.container {
  width: 400px;
}

.custom-button {
  background-color: #3498db;
  border: none;
  position: absolute;
  bottom: 30px;
  right: 30px;
  border-radius: 3px;
  padding: 7px 15px;
}
.back {
  border: 1px solid black;
  position: absolute;
  bottom: 30px;
  right: 100px;
  border-radius: 3px;
  padding: 7px 15px;
}
:host ::ng-deep .p-toast {
  margin-top: 70px;
}
