<div *ngIf="checkisLoggedIn() && checklog() && checkUserDetails()">
  <div class="content">
    <div class="inputSearch">
      <div class="card p-fluid">
        <div class="search-container">
          <p-chips
            [(ngModel)]="issues"
            separator=","
            placeholder="Please Enter The Valid TicketId"
            #chipsInput
            (onAdd)="sharedService.setIssues(issues); onSave()"
          ></p-chips>
          <a (click)="onSave()"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
      </div>
      <div *ngIf="showRecordNotFound" class="record-not-found">
        <span style="color: red">{{ notFoundRecordList.join(",") }} </span>
        records not found
      </div>
    </div>
  </div>

  <div class="icons" *ngIf="tickets && tickets.length > 0">
    <div class="select">
      <span class="select-all" (click)="selectAllTickets()"> Select All </span>
      |

      <p-inputSwitch [(ngModel)]="checked"></p-inputSwitch>
    </div>
    <!-- <div class="bars">
      <i class="pi pi-bars px-1"
         style="font-size: 0.9rem; cursor: pointer"
         (click)="toggleRowsPerPageOptions()"></i>
         <input type="text" class="barInp">
      <div *ngIf="rowsPerPageOptionsVisible" class="rows-per-page-options">
        <ul>
          <li *ngFor="let option of rowsPerPageOption">
            <p class="rowsPerPageButton" (click)="onRowsPerPageChange(option)">
              Show {{ option }} rows
            </p>
          </li>
        </ul>
      </div>
    </div> -->
    
  </div>

  <div *ngIf="tickets && tickets.length > 0">
    <div>
      <div class="card">
        <div class="table">
          <p-table
            #dt1
            [value]="tickets"
            class="sortIconChange"
            selectionMode="multiple"
            [paginator]="tickets.length > 0"
            [rows]="5"
            [showCurrentPageReport]="false"
            [tableStyle]="{ 'min-width': '50rem' }"
            dataKey="TicketID"
            [(selection)]="selectedTicket"
            (onHeaderCheckboxToggle)="selectAllTickets()"
          >
            <ng-template pTemplate="header">
              <tr>
                <th style="width: 5%; text-align: center">
                  <p-tableHeaderCheckbox
                    [binary]="true"
                    inputId="binary"
                  ></p-tableHeaderCheckbox>
                  <!-- <p-checkbox [binary]="true" inputId="binary"></p-checkbox> -->
                </th>

                <th
                  pSortableColumn="TicketID"
                  style="width: 10%; text-align: center"
                >
                  TicketID
                  <p-sortIcon field="TicketID"></p-sortIcon>
                </th>

                <th
                  pSortableColumn="JiraType"
                  style="width: 10%; text-align: center"
                >
                  JiraType
                  <p-sortIcon field="JiraType"></p-sortIcon>
                </th>
                <th
                  pSortableColumn="Description"
                  style="width: 10%; text-align: center"
                >
                  Description
                  <p-sortIcon field="Description"></p-sortIcon>
                </th>
                <th
                  pSortableColumn="Assignee"
                  style="width: 10%; text-align: center"
                >
                  Assignee
                  <p-sortIcon field="Assignee"></p-sortIcon>
                </th>
                <th pSortableColumn="Status" style="text-align: center">
                  Status
                  <p-sortIcon field="Status"></p-sortIcon>
                </th>
                <th
                  pSortableColumn="EstimatedTime"
                  style="width: 12%; text-align: center"
                >
                  EstimatedTime
                  <p-sortIcon field="EstimatedTime"></p-sortIcon>
                </th>
                <th
                  pSortableColumn="StoryPoint"
                  style="width: 10%; text-align: center"
                >
                  StoryPoint
                  <p-sortIcon field="StoryPoint"></p-sortIcon>
                </th>
                <th
                  pSortableColumn="ReleaseTag"
                  style="width: 10%; text-align: center"
                >
                  ReleaseTag
                  <p-sortIcon field="ReleaseTag"></p-sortIcon>
                </th>
                <th
                  pSortableColumn="Sprint"
                  style="width: 10%; text-align: center"
                >
                  Sprint
                  <p-sortIcon field="Sprint"></p-sortIcon>
                </th>
              </tr>

              <tr *ngIf="checked">
                <th></th>

                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter($event.target.value, 'TicketID', 'contains')
                      "
                      [value]="dt1.filters['TicketID']?.value"
                      class="p-column-filter thsearch"
                    />
                  </span>
                </th>

                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter($event.target.value, 'JiraType', 'contains')
                      "
                      [value]="dt1.filters['JiraType']?.value"
                      class="p-column-filter"
                    />
                  </span>
                </th>

                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter(
                          $event.target.value,
                          'Description',
                          'contains'
                        )
                      "
                      [value]="dt1.filters['Description']?.value"
                      class="p-column-filter"
                    />
                  </span>
                </th>

                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter($event.target.value, 'Assignee', 'contains')
                      "
                      [value]="dt1.filters['Assignee']?.value"
                      class="p-column-filter"
                    />
                  </span>
                </th>
                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter($event.target.value, 'Status', 'contains')
                      "
                      [value]="dt1.filters['Status']?.value"
                      class="p-column-filter"
                    />
                  </span>
                </th>
                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter(
                          $event.target.value,
                          'EstimatedTime',
                          'contains'
                        )
                      "
                      [value]="dt1.filters['EstimatedTime']?.value"
                      class="p-column-filter"
                    />
                  </span>
                </th>
                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter(
                          $event.target.value,
                          'StoryPoint',
                          'contains'
                        )
                      "
                      [value]="dt1.filters['StoryPoint']?.value"
                      class="p-column-filter"
                    />
                  </span>
                </th>
                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter(
                          $event.target.value,
                          'ReleaseTag',
                          'contains'
                        )
                      "
                      [value]="dt1.filters['ReleaseTag']?.value"
                      class="p-column-filter"
                    />
                  </span>
                </th>
                <th>
                  <span class="p-input-icon-right">
                    <i class="pi pi-search" style="padding-top: 4px"></i>
                    <input
                      pInputText
                      type="text"
                      (input)="
                        dt1.filter($event.target.value, 'Sprint', 'contains')
                      "
                      [value]="dt1.filters['Sprint']?.value"
                      class="p-column-filter"
                    />
                  </span>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-t>
              <tr [pSelectableRow]="t" style="height: 40px">
                <td style="text-align: center">
                  <p-checkbox
                    [(ngModel)]="t.checked"
                    [binary]="true"
                    (onChange)="
                      selectJiraData(t, $event); $event.stopPropagation()
                    "
                    inputId="checkbox-{{ t.TicketID }}"
                    disabled="false"
                  ></p-checkbox>
                </td>

                <td style="text-align: center">{{ t.TicketID }}</td>
                <td style="text-align: center">{{ t.JiraType }}</td>
                <td style="text-align: center">{{ t.Description }}</td>
                <td style="text-align: center">{{ t.Assignee }}</td>
                <td style="text-align: center">
                  <div
                    [ngClass]="
                      t.Status === 'In-Build' ? 'rectangle1' : 'rectangle2'
                    "
                  >
                    <span class="Inbuilt">{{ t.Status }}</span>
                  </div>
                </td>
                <td style="text-align: center">
                  <ng-container *ngIf="isedit">
                    <input
                      type="text"
                      [(ngModel)]="t.EstimatedTime"
                      (blur)="storeEditedTicket(t.TicketID, t.EstimatedTime)"
                    />
                  </ng-container>
                  <ng-container *ngIf="!isedit">
                    {{ t.EstimatedTime }} h
                  </ng-container>
                </td>

                <td style="text-align: center">{{ t.StoryPoint }}</td>
                <td style="text-align: center">{{ t.ReleaseTag }}</td>
                <td style="text-align: center">{{ t.Sprint }}</td>
              </tr>
            </ng-template>
            <ng-template pTemplate="paginatorright">
              <input class="goInp" type="text" [(ngModel)]="gotoPage"/>
              <button class="go" (click)="onGoButtonClick()">GO</button>
            </ng-template>
          </p-table>
          <div class="btn">
            <div class="btn-group">
              <div
                *ngIf="
                  authService.getPermissions().updateEstimateTime && !isedit
                "
              >
                <p-button
                  label="Update Estimate Time"
                  (click)="onEdit()"
                  class="b"
                  styleClass="h-3rem mt-1"
                >
                </p-button>
              </div>

              <div
                *ngIf="authService.getPermissions().updateReleaseTag && !isedit"
              >
                <p-button
                  (click)="showModal('updateReleaseTag')"
                  label="Update Release Tag"
                  class="b"
                  styleClass="h-3rem mt-1"
                  [disabled]="selectedTicketDetails.size < 1"
                >
                </p-button>
              </div>

              <p-dialog
                [(visible)]="displayModalReleaseTag"
                modal="true"
                position="top"
              >
                <div>Do you want to update release tag</div>
                <input type="text" [(ngModel)]="releaseTagInput" />
                <ng-template pTemplate="footer">
                  <button label="Cancel" (click)="onClick()" class="CancelR">
                    Cancel
                  </button>
                  <p-button
                    label="Proceed"
                    [disabled]="!releaseTagInput"
                    (click)="updateReleaseTag()"
                  ></p-button>
                </ng-template>
              </p-dialog>

              <div
                *ngIf="authService.getPermissions().updateStoryPoint && !isedit"
              >
                <p-button
                  (click)="showModal('updateStoryPoint')"
                  label="Update Story Point"
                  class="b"
                  styleClass="h-3rem mt-1"
                  [disabled]="selectedTicketDetails.size < 1"
                >
                </p-button>
              </div>

              <p-dialog
                [(visible)]="displayModalStoryPoint"
                modal="true"
                position="top"
              >
                <div>Do you want to story point?</div>
                <ng-template pTemplate="footer">
                  <div class="sbtn">
                    <button label="no" class="storyPoint2" (click)="onClick()">
                      No
                    </button>
                    <button
                      label="yes"
                      class="storyPoint1"
                      (click)="updateStoryPoint()"
                    >
                      Yes
                    </button>
                  </div>
                </ng-template>
              </p-dialog>

              <div
                *ngIf="
                  authService.getPermissions().updateStatusBuild && !isedit
                "
              >
                <p-button
                  (click)="showModal('updateStatusBuild')"
                  label="Update Status For Build"
                  class="b"
                  styleClass="h-3rem mt-1"
                  [disabled]="selectedTicketDetails.size < 1"
                >
                </p-button>
              </div>

              <p-dialog
                [(visible)]="displayModalStatusBuild"
                modal="true"
                position="top"
              >
                <div>Do you want to update status for build?</div>

                <ng-template pTemplate="footer">
                  <button label="no" (click)="onClick()" class="build2">
                    No
                  </button>
                  <button
                    (click)="updateBuildStatus()"
                    label="yes"
                    class="build1"
                  >
                    Yes
                  </button>
                </ng-template>
              </p-dialog>
            </div>
          </div>
        </div>
        <p-toast></p-toast>
        <div *ngIf="isedit">
          <button class="custom-button" label="save" (click)="updateEstimate()">
            Save
          </button>
          <button class="back" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>
